@import '../../../utils/styles/colors.scss';

.loading-page {
  background-color: $light-grey;
  height: 94vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}
