@import './utils/styles/colors.scss';
@import './utils/styles/fonts.scss';
@import './utils/styles/spacing.scss';
@import './utils/styles/animations.scss';

html,
body {
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: $default-font-size;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-lato;
  color: $dark-grey;
  line-height: $font-height;
}

li {
  list-style-type: none;
}

.app {
  margin: $default-spacing;
}
